<style>
    #active_friends_chat_list_parent{
       margin-top:5rem;
        width:35%;
        z-index:1; 
    }
    #active_friends_chat_list_parent div{
        padding:0.5rem;
        display: flex;
        width:100%;
     
    }
    @media only screen and (max-width: 1000px) {
        
        #active_friends_chat_list_parent{
             margin-top:0rem;
            width:100%;
        }


    }
   
    
</style>
<body>
<div id="active_friends_chat_list_parent" data-id="<%=id%>">  
</div>
</body>
