<style>
    #add_friend_default_icon_main_panel {
        width: 35%;
        height: 100%;
        position: absolute;
        z-index: 100;
        top: 0px;
        left: -5000px;
        bottom: 0px;
        transition: 1s left;
        filter: saturate(1.5);
        background: #fff;
    }

    #friend_list_parent_container {
        padding: 0.5rem;

    }

    #friend_list_parent_container div {
        margin-top: 10px;
        transition: transform 2s ease 0s;

    }

    :root {
        --switches-bg-color: black;
        --switches-label-color: white;
        --switch-bg-color: white;
        --switch-text-color: #008069;
    }

    .switches-container {
        width: 16rem;
        position: relative;
        display: flex;
        padding: 0;
        position: relative;
        background: var(--switches-bg-color);
        line-height: 3rem;
        border-radius: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    .switches-container input {
        visibility: hidden;
        position: absolute;
        top: 0;
    }

    .switches-container label {
        width: 50%;
        padding: 0;
        margin: 0;
        text-align: center;
        cursor: pointer;
        color: var(--switches-label-color);
    }


    .switch-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        padding: 0.15rem;
        z-index: 3;
        transition: transform .5s cubic-bezier(.77, 0, .175, 1);

    }

    .switch {
        border-radius: 3rem;
        background: var(--switch-bg-color);
        height: 100%;
    }

    .switch div {
        width: 100%;
        text-align: center;
        opacity: 0;
        display: block;
        color: var(--switch-text-color);
        transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
        will-change: opacity;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* slide the switch box from right to left */
    .switches-container input:nth-of-type(1):checked~.switch-wrapper {
        transform: translateX(0%);
    }

    /* slide the switch box from left to right */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper {
        transform: translateX(100%);
    }

    /* toggle the switch box labels - first checkbox:checked - show first switch div */
    .switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
        opacity: 1;
    }

    /* toggle the switch box labels - second checkbox:checked - show second switch div */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
        opacity: 1;
    }

    @media only screen and (max-width: 1000px) {
        #add_friend_default_icon_main_panel {
            width: 100%;
          
        }
    }
</style>
<script src="assets/javascript/removeFriend.js"></script>
<script src="assets/javascript/triggerAnimation.js"></script>
<script src="assets/javascript/accept_request.js"></script>
<div id="add_friend_default_icon_main_panel">
    <div style='padding:1rem;background: #008069;'>
        <div id='go_back_to_chat_screen_1' style="position:absolute;left:5px;top:25px">
            <svg viewBox="0 0 24 24" id='go_back_to_chat_screen_1' height="24" width="24"
                preserveAspectRatio="xMidYMid meet" class="text-white go_back_to_chat_screen" version="1.1" x="0px"
                y="0px" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="currentColor" d="M12,4l1.4,1.4L7.8,11H20v2H7.8l5.6,5.6L12,20l-8-8L12,4z"></path>
            </svg>

        </div>
        <div class="switches-container">
            <input type="radio" id="switchgetFriendList" name="switchPlan" value="Sent Request" checked="checked" />
            <input type="radio" id="switchReceviedRequest" name="switchPlan" value="You Recived" />
            <label for="switchgetFriendList">Sent Request</label>
            <label for="switchReceviedRequest">You Recived</label>
            <div class="switch-wrapper">
                <div class="switch">
                    <div>Sent Request</div>
                    <div>You Recived</div>
                </div>
            </div>
        </div>
    </div>

    <div id='friend_list_parent_container'>

    </div>



</div>