<style>
    
#dropdown{

    position: absolute;
    right: 10px;
    height:fit-content;
    width: fit-content;
    top: 60px;
    display: none;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(0,0,0,0.2);
    padding: 1rem;
    padding-right: 3rem;
    transition: display 3s ease;
}
#dropdown div{
    
    margin-bottom: 20px;
}
#dropdown div a{
    color:#111;
    text-decoration: none;
    font-size: 16px;
    
}
</style>
<div id="dropdown">
</div>
