<style>
    #loader{
      background: #68636352;
      color: white;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     }
     #spinner{
         
         border:solid 5px #008069;
         height: 60px;
         width:60px;
         border-radius: 20px;
         top:50%;
         
         animation: 1s linear circle  infinite;
     }
     @keyframes circle {
        100% {rotate: 360deg;}
    }
</style>
<div id='loader'>
    <div id="spinner"></div>
    <div style='margin-top:10px'>
        <h6 style='color:black'>Loading...</h6>
    </div>
 </div>