<style>
#right_contanier{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-column: 1;
    background: #e9edef;
    border: solid 1px #d1d7db;
    width:65%;
    z-index: 110;

}
#right_contanier div:nth-child(2) p{
   font-size: 20px;
    
}
#right_contanier div:nth-child(4) button{
   border-radius: 15px;
   padding: 0.5rem;
   background-color: #008069;
   color: white;
   border: none;
     
 }
 @media only screen and (max-width: 1000px) {
    #right_contanier{
       display: none;
    
    }
}
</style>
<div id="right_contanier">
    <div>
         <center>
            <img src="https://localhost:5000/assets/images/native-desktop-hero_a22b846aefcd2de817624e95873b2064.png" style="height:200px;margin-top:200px"/>
         </center>
        
    </div>
    <div>
        <center><p>Download WhatsApp for windows</p></center>
    </div>
     <div>
        <center><p>make calls,share your screen and get a faster experience when you download the windows app</p></center>
     </div> 
     <div>
        <center><button>Get the app</button></center>
     </div>
</div>